* {
    margin: 0;
    padding: 0;
    transition: all 600ms ease;
}

body {
    background-color: #656b7b;
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
}

#frame {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    perspective: 1000px;
    display: flex;
    flex-direction: row;
}

#container div {
    color: #fff;
    height: 50vh;
    width: 50vh;
    background: #333;
    margin: 0;
    padding: 2vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#left {
    transform-origin: right center;
    transform: translateX(-10px) rotateY(-60deg);
}

#right {
    transform-origin: left center;
    transform: translateX(10px) rotateY(60deg);
}

#left:hover {
    transform: translateX(-10px) rotateY(0deg);
}

#right:hover {
    transform: translateX(10px) rotateY(0deg);
}
